html, body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    font-family: sans-serif;
}
#title {
    position: absolute;
    padding: 0 0;
    margin: 0 0;
    top: 8px;
    left: 8px;
    color: aqua;
}
div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

form {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

p {
    width: 30%;
    display: flex;
    flex: 0 100% 100% 100%;
    align-items: center;
    justify-content: center;
}

label  {
    padding: 0 5px;
}

.message {
    align-items: center;
    display: flex;
    justify-content: center;
}

input[type=text] {
    line-height: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
}

#submit {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    margin: 0 0 0 15px;
}

#url {
    line-height: 40px;
    width: 100%;
}